.MatrixGrid {border-bottom: 1px solid #d8d8d8; table-layout: fixed; word-break: break-all; font-size: 12px;}
.MatrixGrid thead th {max-height:70px; padding:8px 0; border-right:1px solid #777; border-bottom:1px solid #777; background:#dbeefa ; color:#111; font-weight: 700;}
.MatrixGrid thead .PartHeader {background:#acc8f1;}
.MatrixGrid thead .HeadSub {background:#feffea;}
.MatrixHeader th:last-child, .MatrixRow td:last-child {border-right:none;}
.MatrixRow {border-bottom:1px solid #d8d8d8;}
.MatrixRow:last-child {border-bottom: none;}
.MatrixRow td {border-right:1px solid #d8d8d8; color:#888; font-weight: 300; text-align: center;}
.MatrixRow td:first-child {background:#f3f3f3; color:#111; border-right: 1px solid #d8d8d8;}
.MatrixRow td.graph {padding:0; vertical-align: top; line-height: 8px; height:100%;}
.MatrixRow td.graph svg {width:100%; height:100%;}
.MatrixRow td.graph svg rect {min-height:30px; stroke:#aaa; stroke-width:0.1; stroke-linecap:butt; stroke-linejoin:miter;}
